* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    min-height: 102vh;
    background-size: auto auto;
    background-color: #fac1a8;
    background-image: repeating-linear-gradient(90deg,#ffe9dc,#ffe9dc 18px,#ffece0 0,#ffece0 33px);
}

/* 区切り線 */
.border{
    border-bottom: 1px solid #FEE7CF;
}

/* タイトルカラー */
.title {
    color: #6B3939;
    font-size: 6.5vmin;
}

/* サブタイトル  */
.subtitle {
    color: #955E4B;
    font-size: 4vmin;
}

/* 通常リンク */
a {
    color: #945f4b;
}

/* 訪問済みリンク */
a:visited {
    color: #63311e;
}

p {
    color: #4a1f0f;
}

.is-primary {
    background-color: #ddaa77 !important;
}

.is-secondary {
    color: #FFFFFF !important;
    background-color: #ccaa99 !important;
}